@model BOL_Business_Objects_Layer_.User

@{
    ViewBag.Title = "Register";
}

<h2>User Registeration Form</h2>
<div id="root"></div>
<br />




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Scripts.Render("~/Scripts/dist/accountRegister.js")
