@model IEnumerable<BOL_Business_Objects_Layer_.Vendor>

@{
    ViewBag.Title = "AllVendors";
}

<h2>AllVendors</h2>
<div id="root"></div>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Scripts.Render("~/Scripts/dist/adminAllVendors.js")