@model IEnumerable<BOL_Business_Objects_Layer_.Product>

@{
    ViewBag.Title = "Index";
}
<p></p>
<div id="root"></div>
<h1>Echo service</h1>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/realtime/js"></script>

<script src="https://js.stripe.com/v3/"></script>

@Scripts.Render("~/Scripts/dist/index.js")